@font-face {
  font-family: "AC-Nixie";
  src: url("AC-Nixie.otf")
}
body {
  font-family: "AC-Nixie";
}

.logo {
  margin: 10px 0px 0px 10px;
}

.logo img {
  max-width: 300px;
}

.content {
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: black;
  transition-property: color;
  transition-duration: .3s;
}

a:hover, a.active {
  color: #905;
}


.menu a {
  margin-bottom: 10px;
  font-size: larger;
  font-weight: bold;
}


.main-content {
  margin-top: 18px;
}

span {
  text-align: center;
  margin-bottom: 50px;
  display: block;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    background-color: white;
    position: absolute;
    z-index: 9999;
    text-align: center;
    right: 14%;
  }
}
